#game_board {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#game_board tr:nth-of-type(even) {
  background-color: transparent !important;
}

.game_space {
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 9em;
  line-height: 1em;
  width: 100%;
  cursor: pointer;
  background: #D3D8E0;
}