body {
  background-image: url(escheresque_@2X.png);
}

#logo {
  font-family: 'Shadows Into Light';
  font-size: 1.7em;
}

#game_board {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#game_board tr:nth-of-type(even) {
  background-color: transparent !important;
}

.game_space {
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 9em;
  line-height: 1.1em;
  width: 100%;
  cursor: pointer;
  background-color: #f2f2f2;
}

.game_space:hover {
  color: #f2f2f2;
  background-color: #333333;
}

.panel {
  padding: 2px;
}

.alert-box.info {
  background-color: #e55300;
  border: 0;
  color: #f2f2f2;
}

.alert-box.success {
  background-color: #308832;
  border: 0;
  border-radius: 0;
  color: #ffffff;
}

.button {
  background-color: #b4b4b4;
}

.button:hover {
  background-color: #333333;
}

a {
  color: #b4b4b4;
}

a:hover {
  color: #333333;
}